*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

.main{
    width: 100%;
    display: grid;
}

a{
    text-decoration: none;
}

i{
    display: inline-block;
    color: orange;
    justify-content: center;
    font-weight: normal;
}
h2 > i {
    color:darkblue
}
.flaticon-arrow{
    color:blue;
}

.nav-item > a:hover{
    color: rgb(238, 255, 89);
}

.navbar {
    height: 80px;
    line-height: 80px;
}

#kontaktLink:hover{
    cursor: pointer;
}

#test{
    display:flex
}