a{
    text-decoration: none;
}

i{
    display: inline-block;
    color: orange;
    justify-content: center;
    font-weight: normal;
}
h2 > i {
    color:darkblue
}
.flaticon-arrow{
    color:blue;
}

.nav-item > a:hover{
    color: rgb(255, 217, 0);
}

.nav-link{
    color:rgb(228, 228, 81)
}

.navbar {
    height: 80px;
    line-height: 80px;
}

nav{
    background-color: black;
}

#kontaktLink{
    color:rgb(228, 228, 81);
}

#kontaktLink:hover{
    cursor: pointer;
    color: rgb(255, 217, 0);
}



body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background: #fff;
    background-size: cover;
}

footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    bottom:0;
    height: 300px;
    text-shadow: 0.5px 0.5px black;
    background-image: url(../Resources/img/zaiskri-bg.jpg);
    background-size:cover;
}


#novostiNaslov{
    margin-top: 2%;

    display:flex;
    justify-content: center;
}


#popisNovosti{
    display: grid;
    animation: normal 1s zoomIn;
}

.popisNovostiWrapper{
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #FAF9FA;
}

.newsBubble{
    border: 20px solid #FAF9FA;
    border-radius: 100%;
    box-shadow: 0 0 8px 5px #ccc;
    background-size: cover;
    background-position: center;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

hr{
    border: 0.5px solid #ffb700;
    margin-left: 25%;
    margin-right: 25%;
}

.newsBubbleLink{
    justify-self: center;
}

#newsBubble01{
    background-image: url(../Resources/img/novost1.jpg);
}

#newsBubble02{
    background-image: url(../Resources/img/novost2.jpg);
}

#newsBubble03{
    background-image: url(../Resources/img/novost3.jpg);
}

.newsBubbleContent{
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: bold;
    font-stretch: condensed;
    text-align: center;
    text-shadow: 1px 1px black;
    color: white;
}

.newsBubbleDate{
    color: yellow;
}


.newsBubble{
    height: 16.5em;
    width: 16.5em;
}

#popisNovosti{
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    gap: 20%;
    margin-bottom: 5%;
}


@keyframes zoomIn {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}
