body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background: #ffff;
    background-size: cover;
}


a{
    text-decoration: none;
}

i{
    display: inline-block;
    color: orange;
    justify-content: center;
    font-weight: normal;
}
h2 > i {
    color:darkblue
}
.flaticon-arrow{
    color:blue;
}

.nav-item > a:hover{
    color: rgb(255, 217, 0);
}

.nav-link{
    color:rgb(228, 228, 81)
}

.navbar {
    height: 80px;
    line-height: 80px;
}

nav{
    background-color: black;
}

#kontaktLink{
    color:rgb(228, 228, 81);
}

#kontaktLink:hover{
    cursor: pointer;
    color: rgb(255, 217, 0);
}




footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    margin-top: auto;
    text-shadow: 0.5px 0.5px black;
    background-image: url(../Resources/img/zaiskri-bg.jpg);
    background-size:cover;
}

#prijava{
    margin-top:5%;
    margin-bottom:10%;
}

#emailKorisnik{
    display:grid;
    align-items: center;
    justify-content: center;
}


#passwordKorisnik{
    display:grid;
    align-items: center;
    justify-content: center;
}

#prijavaForm{
    max-width:450px;
    margin:auto;
}

#prijava { animation: fadeIn 1s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  