body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background: #000;
    background-size: cover;
}


a{
    text-decoration: none;
}

i{
    display: inline-block;
    color: orange;
    justify-content: center;
    font-weight: normal;
}
h2 > i {
    color:darkblue
}
.flaticon-arrow{
    color:blue;
}

.nav-item > a:hover{
    color: rgb(255, 217, 0);
}

.nav-link{
    color:rgb(228, 228, 81)
}

.navbar {
    height: 80px;
    line-height: 80px;
}

nav{
    background-color: black;
}


#kontaktLink{
    color:rgb(228, 228, 81);
}

#kontaktLink:hover{
    cursor: pointer;
    color: rgb(255, 217, 0);
}

.nav-item{
    max-width: 200px;
}

footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    margin-top: auto;
    text-shadow: 0.5px 0.5px black;
    background-image: url(../Resources/img/zaiskri-bg.jpg);
    background-size:cover;
}



video {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -o-object-fit: cover;
       object-fit: cover;

}

#textVideo{
    transform: translateY(-50%);
}

.overlay {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#textVideo > .text-white {
    -webkit-animation: 2s fadein;
    animation: 2s fadein;
}

#textVideo > .text-danger {
    -webkit-animation: 4s fadein;
    animation: 4s fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}